/*
* @Author: donytri86
* @Date:   2020-06-16 19:33:23
* @Last Modified by:   donytri86
* @Last Modified time: 2020-06-16 19:33:42
*/

/**         #089CDA
            #0972BA
 **************************************************************** **/
    ::selection {
        background: #0972BA;
    }
    ::-moz-selection {
        background: #0972BA; /* Firefox */
    }
    ::-webkit-selection {
        background: #0972BA; /* Safari */
    }

    #aside nav ul li a:active,
    #aside nav ul li.menu-open,
    #aside nav ul li.always-open,
    #aside nav>ul>li>a:hover,
    #aside nav>ul>li>a:focus,
    #aside nav ul li.active,
    .fancy-file-upload.fancy-file-primary>span.button,
    .datepicker table tr td.active.active,
    .btn-primary,
    #header,

    /*.toast-primary,*/
    .popular .plan-title,
    body.min #aside ul.nav>li>ul li,
    body.min #aside ul.nav li.menu-open,
    body.min #aside ul.nav>li:hover>ul,
    #aside nav ul li a.dashboard,
    #aside .logo,
    body.min #asidesize,
    #aside, #asidebg {
        background-color: #089CDA;
    }

    body.min #aside ul.nav>li:hover:before {
        border-right-color: #089CDA;
    }

    .panel>.panel-heading strong {
        color:#0972BA;
    }

    .btn-primary {
        border-color:#0972BA;
    }

    .popular {
        border-color:#089CDA !important;
    }

    /**
        IMPORTANT
    **/
    .btn-primary,
    .alert-theme-color,
    .panel-primary>.panel-heading {
        background-color: #0972BA !important;
    }
    .panel-primary,
    .panel-primary>.panel-heading {
        border-color: #0972BA !important;
    }

    @media only screen and (min-width: 768px) {
        body.min #aside ul.nav>li:hover>a span {
            background-color: #089CDA;
        }
    }

    #aside nav ul li a, #aside nav a i.pull-right, #header .dropdown-toggle {
        color: #fff;
    }
